@*@using RentACarProject.Data.Models;
@model User
<div class="card-body">
    <h5 class="card-title">@Model.FirstName @Model.LastName</h5>
    <p class="card-text">@Model.Username @Model.Password</p>
    <p class="card-text"><small class="text-muted">PIN: @Model.PIN </small></p>
    <p class="card-text"><small class="text-muted">Phone number: @Model.PhoneNumber</small></p>
    <p class="card-text"><small class="text-muted">Email: @Model.Email </small></p>
    <p class="card-text"><small class="text-muted">Role: @Model.Role </small></p>
</div>*@
