@*@using RentACarProject.Data.Models;
@model User

<form asp-controller="Car" asp-action="Edit" method="Post">
    <input asp-for="Username" placeholder="@Model.Username" />
    <input asp-for="Password" placeholder="@Model.Password" />
    <input asp-for="FirstName" placeholder="@Model.FirstName" />
    <input asp-for="LastName" placeholder="@Model.LastName" />
    <input asp-for="PIN" placeholder="@Model.PIN" />
    <input asp-for="PhoneNumber" placeholder="@Model.PhoneNumber" />
    <input asp-for="Email" placeholder="@Model.Email" />
    <input asp-for="Role" placeholder="@Model.Role" />
    <input type="submit" value="Submit" class="btn btn-success" />
    <input type="reset" value="Clear" class="btn btn-danger" />
</form>*@