@model IEnumerable<RentACarProject.Data.Models.Car> 


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassengerSeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricePerDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rentals)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassengerSeats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerDay)
            </td>
            <td>
                 <div class="form-group">
                    <input type="submit" value="See rentals" />
                 </div>
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">
                            <button class="btn btn-block btn-success" type="submit" aria-label="Edit">Edit</button>
                    </a>
                    |
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <button class="btn btn-block btn-primary" type="submit" aria-label="Details">Details</button>
                    </a>
                    |
                    <a asp-action="Delete" asp-route-id="@item.Id">
                        <button class="btn btn-block btn-danger" type="submit" aria-label="Delete">Delete</button>
                    </a>

                
            </td>
        </tr>
}
    </tbody>
</table>
